# Ignore target directory
/target/

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven specific files
**/target/

# IntelliJ IDEA specific files
*.iml
.idea/
*.iws
*.ipr

# VS Code specific files
.vscode/

# Eclipse specific files
.project
.classpath
.c9/
.settings/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Others
**/logs/
*.log
*.out
*.map
*.diff
*.patch
*.gz
*.zip
*.7z
*.rar
*.tar
*.gz
*.gzip
*.cache
*.pyc
*.pyo
*.pyd
*.pid
*.pid.lock
